@font-face {
  font-family: "DBZ";
  src: url("../font/Saiyan-Sans.ttf"); }

h1 {
  text-align: center;
  margin: 0 auto;
  padding: 5vh 0 0;
  font-family: "DBZ";
  font-size: 60px; }

.flex-image {
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end; }

.flex-container {
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end; }

.flex-container2 {
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end; }
  .flex-container2 .flex-btn {
    display: flex; }
    .flex-container2 .flex-btn button {
      margin: 0 12px; }

.ActionRealiser {
  border: solid 5px red;
  text-align: center;
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%; }

.sub-flex {
  width: 50%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: flex-end; }

.left {
  background-image: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.right {
  background-image: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.persos {
  width: 50%;
  margin: 3vh auto;
  display: block;
  cursor: pointer; }

.pouvoirs {
  width: 50%;
  margin: 3vh auto;
  display: block;
  cursor: pointer; }

button {
  display: block;
  width: 70%;
  margin: 3vh auto;
  color: white;
  font-size: 24px;
  border: solid 2px black;
  background-color: #333;
  cursor: pointer;
  font-family: DBZ; }

.image-left {
  position: relative;
  width: 150px;
  left: 35vw;
  bottom: 45vh;
  border-radius: 50%; }

.image-right {
  position: relative;
  width: 150px;
  left: 3vw;
  bottom: 45vh;
  border-radius: 50%; }

.appear {
  display: none; }
